@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=PT+Sans&family=Source+Sans+3:wght@300&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto:wght@100&display=swap');

@font-face {
    font-family: TitlingGothicFB;
    src: url(/Fontes/TitlingGothicFB\ Cond\ Bold.otf);
}

@font-face {
    font-family: FranklinGothicCond;
    src: url(/Fontes/FranklinGothicCond\ Bold.ttf);
}

@font-face {
    font-family: BaseNeueTrial-ExpandedMedium;
    src: url(/Fontes/BaseNeueTrial-ExpandedMedium.otf);
}

@font-face {
    font-family: BaseNeueTrial-ExpBlack;
    src: url(/Fontes/BaseNeueTrial-ExpandedBlack.otf);
}

@font-face {
    font-family: BaseNeueTrial-Light;
    src: url(/Fontes/BaseNeueTrial-Light.otf);
}

@font-face {
    font-family: BaseNeueTrial-SuperExpLight;
    src: url(/Fontes/BaseNeueTrial-SuperExpLight.otf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    background-color: #050505 !important;
}

*::-webkit-scrollbar {
    width: 12px;
}

*::-webkit-scrollbar-track {
    background: #050505;
}

*::-webkit-scrollbar-thumb {
    background-color: rgb(251, 244, 244);
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

main{
    font-family: BaseNeueTrial-SuperExpLight;
}

section {
    font-family: Inter;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

    /* navbar */

    .navbar-item-div{
        display: flex;
        flex-direction: row;
        gap:30px;
    }

    .navbar-item{
        font-size: 20px;
        margin: 20px 0;
    }

    /* main */

    #novidades{
        text-align: center;
        margin-top: 3rem;
        color: white;
    }

    .titulo-novidades{
        font-size: 3rem;
        color: #ffd700;

    }

    .div-mudancas{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 10%;
    }

    .div-mudancas-content {
        display: flex;
        flex-direction: column;
        align-content: center;
        text-align: justify;
        align-items: center;
        margin-top: 20px;
    }

    .div-mudancas-content p{
        width: 90%;
    }

    .div-mudancas-content img{
        width: 90%;
        margin-top: 20px;
    }

    .div-mudancas-content li{
        list-style: circle;
    }

    .ranking ul {
        margin-top: 20px;
        margin-left: 50px;
        margin-right: 50px;
    }

    .mudancas-graficos{
        margin-top: 2rem;
    }

    /* footer */
    footer {
        display: flex;
        flex-direction: column;
        color: white;
        text-align: center;
        margin-top: 12%;
        font-family: Inter;
    }

    footer h1{
        font-size: 23px;
    }

    footer p {
        font-size: 16px;
        margin-top: 5%;
    }
    
    footer ul{
        margin-top: 5%;
    }

    footer div{
        margin-top: 20px;
    }

    .footer-link{
        width: 30%;
        font-size: 15px;
        padding: 5px 0;
        margin-left: 10px;
        color: #0969DADA;
    }
    
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 767px) {
    /* navbar */

    .navbar-item-div{
        display: flex;
        flex-direction: row;
        gap:30px;
    }

    .navbar-item{
        font-size: 20px;
        margin: 20px 0;
    }


    /* main */

    #novidades{
        text-align: center;
        color: white;
        margin-top: 3rem;
    }

    .titulo-novidades{
        font-size: 3rem;
        color: #ffd700;

    }

    .div-mudancas{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 10%;
    }

    .div-mudancas-content {
        display: flex;
        flex-direction: column;
        align-content: center;
        text-align: justify;
        align-items: center;
        margin-top: 20px;
    }

    .div-mudancas-content p{
        width: 90%;
    }

    .div-mudancas-content img{
        width: 90%;
        margin-top: 20px;
    }

    .div-mudancas-content li{
        list-style: circle;
    }

    .ranking ul {
        margin-top: 20px;
        margin-left: 50px;
    }

    .mudancas-graficos{
        margin-top: 2rem;
    }

    /* footer */
    footer {
        display: flex;
        flex-direction: column;
        color: white;
        text-align: center;
        margin-top: 12%;
        font-family: Inter;
    }

    footer h1{
        font-size: 23px;
    }

    footer p {
        font-size: 16px;
        margin-top: 2%;
    }
    
    footer ul{
        margin-top: 5%;
    }

    footer div{
        margin-top: 20px;
    }

    .footer-link{
        width: 30%;
        font-size: 15px;
        padding: 5px 0;
        margin-left: 10px;
        color: #0969DADA;
    }

    .rede-social{
        font-size: 30px;
        margin-left: 5px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    /* navbar */

    .navbar-item-div{
        display: flex;
        flex-direction: row;
        gap:30px;
    }

    .navbar-item{
        font-size: 20px;
        margin: 20px 0;
    }

    /* main */

    #novidades{
        text-align: center;
        margin-top: 3rem;
        color: white;
    }

    .titulo-novidades{
        font-size: 3rem;
        color: #ffd700;
    }

    .div-mudancas{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 10%;
    }

    .div-mudancas-content {
        display: flex;
        flex-direction: column;
        text-align: justify;
        align-items: center;
        margin-top: 20px;
    }

    
    .div-mudancas-content p{
        margin-left: 38px;
        margin-right: 38px;
    }

    .div-mudancas-content img{
        width: 90%;
        margin-top: 20px;
    }

    .div-mudancas-content li{
        list-style: circle;
    }

    .ranking ul {
        margin-top: 20px;
        margin-left: 50px;
    }

    .mudancas-graficos{
        margin-top: 2rem;
    }

    

    /* footer */
    footer {
        display: flex;
        flex-direction: column;
        color: white;
        text-align: center;
        margin-top: 12%;
        font-family: Inter;
    }

    footer h1{
        font-size: 23px;
    }

    footer p {
        font-size: 16px;
        margin-top: 2%;
    }
    
    footer ul{
        margin-top: 5%;
    }

    footer div{
        margin-top: 20px;
    }

    .footer-link{
        width: 30%;
        font-size: 15px;
        padding: 5px 0;
        margin-left: 10px;
        color: #0969DADA;
    }

    .rede-social{
        font-size: 30px;
        margin-left: 5px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    /* navbar */

    .navbar-item-div{
        display: flex;
        flex-direction: row;
        gap:30px;
    }

    .navbar-item{
        font-size: 100px;
        margin: 20px 0;
    }

    /* main */

    #novidades{
        text-align: center;
        margin-top: 3rem;
        color: white;
    }

    .titulo-novidades{
        font-size: 3rem;
        color: #ffd700;

    }

    .div-mudancas{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 10%;
    }

    .div-mudancas-content {
        display: flex;
        flex-direction: column;
        align-content: center;
        text-align: justify;
        align-items: center;
        margin-top: 20px;
    }

    .div-mudancas-content p{
        margin-left: 125px;
        margin-right: 125px;
    }

    .div-mudancas-content img{
        width: 75%;
        margin-top: 20px;
    }

    .div-mudancas-content li{
        list-style: circle;
    }

    .ranking ul {
        margin-top: 20px;
        margin-left: 50px;
    }

    .mudancas-graficos{
        margin-top: 2rem;
    }

    /* footer */
    footer {
        display: flex;
        flex-direction: column;
        color: white;
        text-align: center;
        margin-top: 12%;
        font-family: Inter;
    }

    footer h1{
        font-size: 23px;
    }

    footer p {
        font-size: 16px;
        margin-top: 2%;
    }
    
    footer ul{
        margin-top: 5%;
    }

    footer div{
        margin-top: 20px;
    }

    .footer-link{
        width: 30%;
        font-size: 15px;
        padding: 5px 0;
        margin-left: 10px;
        color: #0969DADA;
    }

    .rede-social{
        font-size: 30px;
        margin-left: 5px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

    /* main */

    #novidades{
        text-align: center;
        margin-top: 3rem;
        color: white;
    }

    h3{
        font-size: 20px;
    }

    .titulo-novidades{
        font-size: 3rem;
        color: #ffd700;

    }

    .div-mudancas{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 8%;
    }

    .div-mudancas-content {
        display: flex;
        flex-direction: column;
        align-content: center;
        text-align: justify;
        align-items: center;
        margin-top: 20px;
    }

    .div-mudancas-content p{
        font-size: 18px;
        /* margin-left: 267px;
        margin-right: 267px; */
        margin-left: 20%;
        margin-right: 20%;
    }

    .div-mudancas-content img{
        width: 60%;
        margin-top: 20px;
    }

    .div-mudancas-content li{
        list-style: circle;
    }

    .ranking ul {
        margin-top: 20px;
        margin-left: 50px;
    }

    .mudancas-graficos{
        margin-top: 2rem;
    }

    /* footer */
    footer {
        display: flex;
        flex-direction: column;
        color: white;
        text-align: center;
        margin-top: 12%;
        font-family: Inter;
    }

    footer h1{
        font-size: 23px;
    }

    footer p {
        font-size: 16px;
        margin-top: 2%;
    }
    
    footer ul{
        margin-top: 5%;
    }

    footer div{
        margin-top: 20px;
    }

    .footer-link{
        width: 30%;
        font-size: 15px;
        padding: 5px 0;
        margin-left: 10px;
        color: #0969DADA;
    }

    .rede-social{
        font-size: 30px;
        margin-left: 5px;
    }
}

@media only screen and (min-width: 1700px) {


    /* main */

    #novidades{
        text-align: center;
        margin-top: 3rem;
        color: white;
    }

    h3{
        font-size: 23px;
    }

    .titulo-novidades{
        font-size: 3rem;
        color: #ffd700;

    }

    .div-mudancas{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 7%;
    }

    .div-mudancas-content {
        display: flex;
        flex-direction: column;
        align-content: center;
        text-align: justify;
        align-items: center;
        margin-top: 20px;
    }

    .div-mudancas-content p{
        font-size: 20px;
        margin-left: 25%;
        margin-right: 25%;
    }

    .div-mudancas-content img{
        width: 50%;
        margin-top: 20px;
    }

    .div-mudancas-content li{
        list-style: circle;
    }

    .ranking ul {
        margin-top: 20px;
        margin-left: 50px;
    }

    .mudancas-graficos{
        margin-top: 2rem;
    }

    /* footer */
    footer {
        display: flex;
        flex-direction: column;
        color: white;
        text-align: center;
        margin-top: 12%;
        font-family: Inter;
    }

    footer h1{
        font-size: 23px;
    }

    footer p {
        font-size: 16px;
        margin-top: 1%;
    }
    
    footer ul{
        margin-top: 5%;
    }

    footer div{
        margin-top: 20px;
    }

    .footer-link{
        width: 30%;
        font-size: 15px;
        padding: 5px 0;
        margin-left: 10px;
        color: #0969DADA;
    }

    .rede-social{
        font-size: 30px;
        margin-left: 5px;
    }
}